.idea
.vscode/settings.json
assets/certs/component-certs/generated/*
assets/certs/generated/*
**/.local
flink/oauth/clientCredentials/certs/ca
flink/oauth/clientCredentials/certs/generated
flink/oauth/clientCredentials/certs/jks
flink/sql/certs/ca
flink/sql/certs/generated
flink/sql/certs/jks

# replicator-cloud2cloud-acls / rbac generated credentials / rendered manifests
hybrid/replicator-cloud2cloud-acls/*-apikey.json
hybrid/replicator-cloud2cloud-acls/sa-ids.env
hybrid/replicator-cloud2cloud-acls/connector-smt-eu.yaml
hybrid/replicator-cloud2cloud-acls/components-replicator-smt-eu.yaml
hybrid/replicator-cloud2cloud-acls/topics.yaml
hybrid/replicator-cloud2cloud-acls/producer.yaml
hybrid/replicator-cloud2cloud-acls/producer-kafka.properties
hybrid/replicator-cloud2cloud-rbac/*-apikey.json
hybrid/replicator-cloud2cloud-rbac/sa-ids.env
hybrid/replicator-cloud2cloud-rbac/connector.yaml
hybrid/replicator-cloud2cloud-rbac/components-connect.yaml
hybrid/replicator-cloud2cloud-rbac/topics.yaml
hybrid/replicator-cloud2cloud-rbac/producer.yaml
hybrid/replicator-cloud2cloud-rbac/producer.properties
hybrid/replicator-cloud2cloud-rbac/producer.env
