name: ldap
image: osixia/openldap:1.3.0
tls:
  enabled: false
  fullchain: |-
  privkey: |-
  cacerts: |-

env:
  LDAP_ORGANISATION: "Test Inc."
  LDAP_DOMAIN: "test.com"
  LDAP_ADMIN_PASSWORD: "confluentrox"
  LDAP_CONFIG_PASSWORD: "confluentconfigrox"
  LDAP_READONLY_USER: "true"
  LDAP_READONLY_USER_USERNAME: "mds"
  LDAP_READONLY_USER_PASSWORD: "Developer!"

ldifs:
  kafka.ldif: |-
    dn: cn=kafka,{{ LDAP_BASE_DN }}
    userPassword: kafka-secret
    description: kafka user
    objectClass: simpleSecurityObject
    objectClass: organizationalRole
    cn: kafka
  erp.ldif: |-
    dn: cn=erp,{{ LDAP_BASE_DN }}
    userPassword: erp-secret
    description: erp user
    objectClass: simpleSecurityObject
    objectClass: organizationalRole
    cn: erp
  sr.ldif: |-
    dn: cn=sr,{{ LDAP_BASE_DN }}
    userPassword: sr-secret
    description: schema registry user
    objectClass: simpleSecurityObject
    objectClass: organizationalRole
    cn: sr
  c3.ldif: |-
    dn: cn=c3,{{ LDAP_BASE_DN }}
    userPassword: c3-secret
    description: control center user
    objectClass: simpleSecurityObject
    objectClass: organizationalRole
    cn: c3
  ksql.ldif: |-
    dn: cn=ksql,{{ LDAP_BASE_DN }}
    userPassword: ksql-secret
    description: ksql user
    objectClass: simpleSecurityObject
    objectClass: organizationalRole
    cn: ksql
  connect.ldif: |-
    dn: cn=connect,{{ LDAP_BASE_DN }}
    userPassword: connect-secret
    description: connect user
    objectClass: simpleSecurityObject
    objectClass: organizationalRole
    cn: connect
  replicator.ldif: |-
    dn: cn=replicator,{{ LDAP_BASE_DN }}
    userPassword: replicator-secret
    description: replicator user
    objectClass: simpleSecurityObject
    objectClass: organizationalRole
    cn: replicator
  c3-test.ldif: |-
    dn: cn=testadmin,{{ LDAP_BASE_DN }}
    userPassword: testadmin
    description: testadmin user
    objectClass: simpleSecurityObject
    objectClass: organizationalRole
    cn: testadmin
  08_c3-groupou.ldif: |-
    dn: ou=users,{{ LDAP_BASE_DN }}
    objectClass: organizationalUnit
    ou: Users

    dn: ou=groups,{{ LDAP_BASE_DN }}
    objectClass: organizationalUnit
    ou: Groups
  09_c3usersgroup.ldif: |-
    dn: cn=c3users,ou=groups,{{ LDAP_BASE_DN }}
    objectClass: top
    objectClass: posixGroup
    cn: c3users
    gidNumber: 5000
  10_readonlyusersgroup.ldif: |-
    dn: cn=readonlyusers,ou=groups,{{ LDAP_BASE_DN }}
    objectClass: top
    objectClass: posixGroup
    cn: readonlyusers
    gidNumber: 5000
  11_alice.ldif:  |-
    dn: cn=alice,ou=users,{{ LDAP_BASE_DN }}
    objectClass: inetOrgPerson
    objectClass: posixAccount
    objectClass: shadowAccount
    uid: alice
    sn: LookingGlass
    givenName: Alice
    cn: alice
    displayName: Alice LookingGlass
    uidNumber: 10000
    gidNumber: 5000
    userPassword: alice-secret
    gecos: alice
    loginShell: /bin/bash
    homeDirectory: /home/alice
  12_controlcenterAdmin.ldif:  |-
    dn: cn=controlcenterAdmin,ou=users,{{ LDAP_BASE_DN }}
    objectClass: inetOrgPerson
    objectClass: posixAccount
    objectClass: shadowAccount
    uid: controlcenterAdmin
    sn: Sheen
    givenName: ControlCenterAdmin
    cn: controlcenterAdmin
    displayName: ControlCenterAdmin Sheen
    uidNumber: 10017
    gidNumber: 5000
    userPassword: controlcenterAdmin
  12_addgroup.ldif:  |-
    dn: cn=c3users,ou=groups,{{ LDAP_BASE_DN }}
    changetype: modify
    add: memberuid
    memberuid: cn=12_controlcenterAdmin,ou=users,{{ LDAP_BASE_DN }}

    dn: cn=readonlyusers,ou=groups,{{ LDAP_BASE_DN }}
    changetype: modify
    add: memberuid
    memberuid: cn=alice,ou=users,{{ LDAP_BASE_DN }}
