---
apiVersion: platform.confluent.io/v1beta1
kind: Connector
metadata:
  name: replicator-smt-eu
  namespace: destination
spec:
  connectClusterRef:
    name: replicator-smt-eu
  name: replicator-smt-eu
  class: "io.confluent.connect.replicator.ReplicatorSourceConnector"
  taskMax: 2
  configs:
    # Identity rename.format — admin uses source name on dest (pre-create it).
    # RegexRouter SMT owns the actual destination topic name.
    topic.rename.format: "${topic}"
    topic.whitelist: "demo.orders.avro.v1"
    topic.auto.create: "false"
    topic.config.sync: "false"
    topic.preserve.partitions: "true"
    offset.topic.commit: "false"
    transforms: "RenameTopic"
    transforms.RenameTopic.type: "org.apache.kafka.connect.transforms.RegexRouter"
    transforms.RenameTopic.regex: "^(.*)$"
    transforms.RenameTopic.replacement: "ccloud-eu.$1"
    confluent.license: ""
    confluent.topic.replication.factor: "3"
    confluent.topic.bootstrap.servers: "pkc-921jm.us-east-2.aws.confluent.cloud:9092"
    confluent.topic.sasl.jaas.config: "org.apache.kafka.common.security.plain.PlainLoginModule required username=\"${CONNECTOR_DEST_KEY}\" password=\"${CONNECTOR_DEST_SECRET}\";"
    confluent.topic.sasl.mechanism: "PLAIN"
    confluent.topic.security.protocol: "SASL_SSL"
    dest.kafka.bootstrap.servers: "pkc-921jm.us-east-2.aws.confluent.cloud:9092"
    dest.kafka.sasl.jaas.config: "org.apache.kafka.common.security.plain.PlainLoginModule required username=\"${CONNECTOR_DEST_KEY}\" password=\"${CONNECTOR_DEST_SECRET}\";"
    dest.kafka.sasl.mechanism: "PLAIN"
    dest.kafka.security.protocol: "SASL_SSL"
    key.converter: "io.confluent.connect.replicator.util.ByteArrayConverter"
    value.converter: "io.confluent.connect.replicator.util.ByteArrayConverter"
    src.consumer.group.id: "replicator-smt-eu"
    src.kafka.bootstrap.servers: "pkc-921jm.us-east-2.aws.confluent.cloud:9092"
    src.kafka.sasl.jaas.config: "org.apache.kafka.common.security.plain.PlainLoginModule required username=\"${CONNECTOR_SRC_KEY}\" password=\"${CONNECTOR_SRC_SECRET}\";"
    src.kafka.sasl.mechanism: "PLAIN"
    src.kafka.security.protocol: "SASL_SSL"
